In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as stats

def analyze_returns(net_returns):
    """
    Perform a t-test, with the null hypothesis being that the mean return is zero.
    
    Parameters
    ----------
    net_returns : Pandas Series
        A Pandas Series for each date
    
    Returns
    -------
    t_value
        t-statistic from t-test
    p_value
        Corresponding p-value
    """
    # TODO: Perform one-tailed t-test on net_returns
    # Hint: You can use stats.ttest_1samp() to perform the test.
    #       However, this performs a two-tailed t-test.
    #       You'll need to divde the p-value by 2 to get the results of a one-tailed p-value.
    null_hypothesis = 0.0 
    ttest, p_value = stats.ttest_1samp(net_returns, null_hypothesis)
    
    return ttest, p_value/2
    
def test_run(filename='net_returns.csv'):
    """Test run analyze_returns() with net strategy returns from a file."""
    net_returns = pd.Series.from_csv(filename, header=0)
    t, p = analyze_returns(net_returns)
    print("t-statistic: {:.3f}\np-value: {:.6f}".format(t, p))


if __name__ == '__main__':
    test_run()

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

df= pd.read_csv('net_returns.csv')

In [2]:
df.head()

         date    return
0  2014-11-30  0.011636
1  2014-12-31  0.021954
2  2015-01-31  0.040887
3  2015-02-28 -0.002511
4  2015-03-31  0.017259

In [3]:
df.shape[0]

32

In [11]:
series = pd.Series(df['return'], index=df.index)
series

0     0.011636
1     0.021954
2     0.040887
3    -0.002511
4     0.017259
5     0.041697
6     0.033973
7     0.011809
8    -0.034297
9    -0.018000
10    0.042449
11    0.060487
12    0.004425
13   -0.011128
14    0.039041
15   -0.018535
16    0.051492
17    0.008987
18    0.040301
19   -0.070148
20   -0.037446
21   -0.057651
22    0.052808
23    0.048136
24    0.019070
25    0.023694
26   -0.022749
27   -0.077439
28    0.033248
29   -0.020916
30   -0.069554
31    0.003759
Name: return, dtype: float64

In [4]:
#if we take the mean of the data.
#then we take a sample of the data and calculate the mean
#we want to see how cloase the mean is to the true value

In [13]:
ttest, p_value = stats.ttest_1samp(series, 0.0)

In [15]:
print(ttest , p_value/2)

0.7596352254139502 0.22660550820462322